@import "mixins.scss";

.root{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.layout {
    height: 100%;
    transition: background-color 320ms ease-in, filter 140ms ease;
    padding-top: 30px;
    max-width: 1280px;
    &.blur {
        transition: background-color .32s ease-in,filter 289ms ease-in-out;
        filter: blur(4px);
    }
}