.root{
    background-color: rgba(24, 40, 76, 0);
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top:0;
    // transition: background-color 500ms ease;
    transition: background-color 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
    width: 100%;
    z-index: -1;
    overflow: auto;
    &.show{
        z-index: 40;
        // background-color: rgba(0, 0, 0, 0.74);
        // background-color: rgba(0, 0, 0, 0.15);
        background-color: rgba(24, 40, 76, 0.3);
    }
    .modal {
        margin: auto;
    }
    > div{
        display: flex;
    }
}